@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(css/lato.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html {
	height:170px;
}

body {
	height: 150px;
	font-family: verdana, Sans-Serif;
	font-family: 'lato', sans-serif;
	font-size: 12px;
	padding: 2px;
	padding-right: 5px;
	padding-bottom: 5px;
	/*line-height: 150%;*/
}

#websiteBtn, #downloadBtn{
  display: inline-block;
  background:#FAFAFA;
  color:#444;
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #AAA;
  border-radius: 4px;
}

#websiteBtn:hover, #downloadBtn:hover {
	background:#F0F0F0;
}

#main {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	border-bottom-left-radius: 12px 12px;
	border-bottom-right-radius: 12px 12px;
	border-top-left-radius: 12px 12px;
	border-top-right-radius: 12px 12px;
}
#box2 {
	display: none;
}
.container {
	text-align: left;
	width: 350px;
	margin: auto;
}
.list {
	width: 146px;
	border: 2px solid #666;
	height: 150px;
}
.tbig {
	font-size: 20px;
	color: #333;
}
#file_name {
	width: 590px;
	height: 25px;
	font-size: 20px;
	border: 2px solid #666;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
#save {
	width: 395px;
	height: 50px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#eee)) 0 50%;
}
#reset {
	margin-left: 5px;
	width: 120px;
	height: 50px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#eee)) 0 50%;
}
#editout {
	margin-left: 5px;
	width: 600px;
	height: 50px;
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#eee)) 0 50%;
}
#reset:hover, #save:hover, #editout:hover {
	//-moz-box-shadow: 0 0 5px #5391f2;
	//-webkit-box-shadow: 0 0 5px #5391f2;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#eee), to(#fff)) 0 50%;
}
#credit {
	width: 110px;
	height: 50px;
	vertical-align: bottom;
}
#sample {
	background-color: #C0D6F8;
	height: 18px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
.select_back {
	padding: 0;
	padding-left: 3px;
	font-size: 12px;
	cursor: default;
	height: 18px;
}
.select_back:hover {
	background-color: #39f;
	color: #fff;
}
.select_container {
	width: 141px;
	border: 2px solid #666;
	height: 150px;
	display: block;
	float: left;
	margin-right: 5px;
	cursor: default;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	-webkit-user-select: none;
}
.clear {
	clear: left;
}
.select_label {
	padding: 1px;
	padding-left: 3px;
	font-size: 12px;
	cursor: default;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
#star {
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
.select_back_txt:hover, .select_label:hover, #star:hover, #file_name:hover, .select_container:hover, #imgdata:hover {
	-moz-box-shadow: 0 0 5px #5391f2;
	-webkit-box-shadow: 0 0 5px #5391f2;
}
.select_txt {
	width: 60px;
	height: 12px;
	font-size: 10px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-left: 3px;
	border: 1px solid #666;
}
.select_back_txt {
	padding: 0;
	padding-left: 3px;
	font-size: 12px;
	cursor: default;
	height: 18px;
}
#version {
	font-size: 12px;
	position: relative;
	left: 550px;
	top: -10px;
	text-align: left;
	text-shadow: 0 0 3px #333;
}
#imgdata {
	width: 590px;
	padding: 2px;
	margin: 5px;
	margin-bottom: 15px;
	font-size: 12px;
	border: 2px solid #666;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}
.link_label {
	cursor: default;
	margin: 5px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	//-moz-box-shadow: 0 0 5px #000;
	//-webkit-box-shadow: 0 0 5px #000;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#eee)) 0 50%;
	border: 1px solid #666;
}
.link_label:hover {
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#eee), to(#fff)) 0 50%;
}
.ch_list {
	float: left;
	width: 280px;
	margin-left: 15px;
}
.option_list {
	border: 2px solid #ccc;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	height: 120px;
	width: 590px;
}
.container #main #box1 
.tbig h2 strong {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.rankTD {
	width: 28px;
	color: #2E8000;
}
.avatarTD {
	height: 32px;
	width: 35px;
}
.nameTD {
	width: 80px;
	color: rgba(48, 188, 216, 1);
}
.relevanceTD {
	width: 126px;
	color: #F80B0B;
}
.uidTD {
	width: 160px;
}
.umailTD {
	width: 165px;
}
#updateMsg {

	float: right;
	margin-top:12px;
	font-family: 'lato', sans-serif;
	font-size: 11px;
	height: 12px;
	color: #666;
}
.spacer {
	width: 100%;
	min-height: 10px;
	display: block;
}
.wrap {
	width: 80%;
	display: table;	/*margin:0 auto;*/
	padding: 5px;
	position: relative;
}
.label {
	float: left;
	font-size: 11px;
	height: 12px;
	color: #666;
	width: 150px;
}
.stableLabel {
	float: left;
	font-size: 10px;
	height: 12px;
	color: #AAA;
	width: 150px;
}
.versionLabel {
	display: block;
	position: absolute;
	left: 200px;
	font-size: 8pt;
	height: 12px;
	color: #666;
}
.versionLabel div {
	float: left;
	font-family:'lato', sans-serif;
	font-size: 8pt;
	text-align: left;
}
#stable {
	display:none;
	/*visibility: hidden;*/
	opacity: 0.7;
	color: #AAA !important;
	padding-bottom: 10px;
}
#stableVersion {
	color: #AAA !important;
	text-decoration: none;
}
#calendar a, #calendar a:active, #calendar a:visited {
	color: #333 !important;
	font-size: 7pt;
	text-decoration: none;
	outline: 0;	/*opacity: 0.8 !important;*/
}
#calendar a:hover {
	text-decoration: underline;
}
#loadingFreesmug, #loadingStable {
	float: right;
	position: absolute;
	margin-left: 80px;
	padding-top: 5px;	/*margin-right:30px;*/
}
#download {

	/*visibility: hidden;*/
	display: none;
	padding-bottom: 1px;
}

#form {
	padding-top: 5px;
}

#options {
	position: absolute;
	opacity: 0.5;
	top: 10px;
	right: 10px;
	outline: 0;
}

* {
	outline: 0;
}
